---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}">
                        	<p style="font-size:1.2rem;font-weight:300">The Law Offices of William Groble</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<!--<p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>-->
                        	<!--18 West Stow Road,<br />Marlton, NJ 08053, USA <br />(856) 817-1242 (phone) <br />(856) 817-1243 (fax) <br />william@groblelaw.com-->
                        	<p style="font-size:1rem;font-weight:300"><a href="{{ site.address_link }}">{{ site.address }}</a></p>
                        	<p style="font-size:1rem;font-weight:300"><a href="{{ site.phone_link }}">{{ site.phone }} (phone)</a><br />{{ site.fax }} (fax)</p>
                        	<p style="font-size:1rem;font-weight:300"><a href="mailto:{{ social.email }}">{{ social.email }}</a></p>
			            </a>
                    </h3>
                    {% include social-links.html %}
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         About
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/contact">
                         Contact
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/attorneys">
                         Attorneys
                         </a>
                 </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
